<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/static/src/css/style.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
	</head>
	<body>
		<div class="flex w-screen h-screen">
			{% include 'components/menu/menu.html' %}
			<div class="w-full h-full">
				<div class="py-8 pl-20 pr-10 w-full h-full bg-slate-50">{% block main %}{% endblock %}</div>
			</div>
		</div>
	</body>
</html>
