<div class="max-w-[6rem] w-full h-full">
	<div class="fixed max-w-[6rem] w-full h-full px-4 py-10 shadow-md border-r-2 border-r-gray-100">
		<div class="w-8 h-8 mx-auto">
			<img src="/static/src/media/ïcons/icons8-menu-30.png" alt="" class="h-full" />
		</div>
		<div class="grid gap-4 mt-28">
			<a href="">
				<div class="w-8 h-8 mx-auto">
					<img src="/static/src/media/ïcons/icons8-home-24.png" alt="" class="h-full" />
				</div>
			</a>
			<a href="">
				<div class="w-8 h-8 mx-auto">
					<img src="/static/src/media/ïcons/icons8-graph-32.png" alt="" class="h-full" />
				</div>
			</a>
			<a href="">
				<div class="w-8 h-8 mx-auto">
					<img src="/static/src/media/icons/icons8-menu-30.png" alt="" class="h-full" />
				</div>
			</a>
			<a href="">
				<div class="w-8 h-8 mx-auto">
					<img src="/static/src/media/icons/icons8-menu-30.png" alt="" class="h-full" />
				</div>
			</a>
		</div>
	</div>
</div>
